@page "/"

<h1>Hello Xero Developer!</h1>
<AuthorizeView>
    <Authorized>
       Click the tabs on the left to check out the Files API functionality.
    </Authorized>
    <NotAuthorized>
        Welcome. <br />Login using the connect to Xero button to check out the functionality.
        There will be functions for getting and uploading files, creating and deleting folders, and creating and deleting associations.
    </NotAuthorized>
</AuthorizeView>
<p>

</p>
